<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Search for Product</h1>
        <form action="/userSearch" method="post">
            <div class="form-group">
                <label for="email">Search</label>
                <input type="text" id="name" name="name" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>