<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Add Product</h1>
        <form action="/adminView/addProduct" method="post">
            <div class="form-group">
                <label for="Name">Name:</label>
                <input type="text" id="name" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="description" id="description" name="description" class="form-control">
            </div>
            <div class="form-group">
                <label for="Price">Price:</label>
                <input type="number" id="price" name="price" class="form-control">
            </div>
            <div class="form-group">
                <label for="Quantity">Quantity:</label>
                <input type="number" id="quantity" name="quantity" class="form-control">
            </div>
            <div class="form-group">
                <label for="imagePath">Image URL:</label>
                <input type="text" id="imagepath" name="imagepath" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Add Product</button>
        </form>
    </div>
</div>
